In [51]:
import pyodbc
import pandas as pd
import numpy as np
from datetime import date


con_1 = pyodbc.connect(
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER=158.170.66.56,{1433};"
    f"DATABASE=PROC01ESTUDIO;"
    f"UID=proceso;"
    f"PWD=Estudio.2024;")

print("Conexión exitosa")

    
####listado de campos

cursor_1 = con_1.cursor()
columnas=cursor_1.execute("SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.\
                          COLUMNS WHERE TABLE_NAME='PAC_2008_2025';")

for c in columnas.fetchall():
    print(c)
    
pd.read_sql("""SELECT
            [AÑO], 
            NOMBRE_CARRERA,
            GRATUIDAD,
            MATRICULA_NUEVA,
            COUNT(Rut) AS TOTAL
            FROM tb_gratuidad
            WHERE [AÑO] > 2022
            GROUP BY
            [AÑO], 
            NOMBRE_CARRERA,
            GRATUIDAD,
            MATRICULA_NUEVA""", con_1)

OperationalError: ('HYT00', '[HYT00] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0) (SQLDriverConnect)')

In [90]:
import pyodbc
import pandas as pd
import numpy as np
from datetime import date


con_1 = pyodbc.connect(
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER=158.170.66.56,{1433};"
    f"DATABASE=PROC01ESTUDIO;"
    f"UID=proceso;"
    f"PWD=Estudio.2024;")

print("Conexión exitosa")

    
####listado de campos

cursor_1 = con_1.cursor()
columnas=cursor_1.execute("SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.\
                          COLUMNS WHERE TABLE_NAME='TABLA_MU'")

for c in columnas.fetchall():
    print(c)
    
pd.read_sql("""SELECT *
            FROM BECA_COMPLETA""", con_1)

Conexión exitosa
('COD_SIES', 'varchar')
('ANHO_SIES', 'varchar')
('ANHO_SIES_CAR', 'varchar')
('ANHO_MU', 'varchar')
('N_DOC', 'varchar')
('DV', 'varchar')
('NOMBRE', 'varchar')
('SEXO', 'varchar')
('FECH_NAC', 'varchar')
('NAC', 'float')
('COD_IES', 'float')
('COD_SED', 'float')
('COD_CAR', 'varchar')
('JOR', 'varchar')
('VERSION', 'varchar')
('ANIO_ING_ACT', 'float')
('SEM_ING_ACT', 'float')
('ANIO_ING_ORI', 'varchar')
('VIG', 'float')
('COD_NIV_GLO', 'float')
('TIPO_DOC', 'varchar')
('PAIS_EST_SEC', 'float')
('FOR_ING_ACT', 'float')
('SEM_ING_ORI', 'float')
('ORIGEN', 'varchar')
('NIV_GLO', 'varchar')
('SIES_RUT', 'varchar')
('ANHO_SIES_RUT', 'varchar')
('primer_anio', 'float')
('UNICIT', 'varchar')
('nombre_carrera', 'varchar')
('nivel_carrera', 'varchar')
('tipo_carrera', 'varchar')
('duracion_total', 'int')

/tmp/ipykernel_70215/2424543450.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""SELECT *

,AÑO,SEMESTRE,CODIGO_BECA,RUT,DV,APELLIDO_1,APELLIDO_2,NOMBRES,CODIGO_FACULTAD,FACULTAD,CODIGO_PLAN,NOMBRE_PLAN,AÑO_INGRESO,SEMESTRE_INGRESO,MONTO,PORCENTAJE
0,2022,1,25,19779895,5,ESPINOZA,GONZÁLEZ,ANTONELLA ELENA CONSTANZA,83,Facultad de Ciencias Médicas,8118,OBSTETRICIA Y PUERICULTURA .,2019,1,473125.0,0.0
1,2022,1,25,20162892,K,BUSTOS,URRUTIA,RAYEN,65,Facultad Tecnológica,7040,PUBLICIDAD .,2018,1,514625.0,0.0
2,2022,1,25,20163243,9,MONDACA,TORRES,MANUEL EDUARDO NICOLÁS,65,Facultad Tecnológica,7047,TECNOLOGÍA EN CONSTRUCCIONES .,2020,1,361250.0,0.0
3,2022,1,25,20165267,7,HERRERA,ARMIJO,IGNACIO DANIEL,15,Vicerrectoría Académica,5310,ARQUITECTURA,2020,1,574375.0,0.0
4,2022,1,25,20468099,K,GREGORIO DE HERAS,CASTRO,LUCAS,65,Facultad Tecnológica,7047,TECNOLOGÍA EN CONSTRUCCIONES .,2020,1,339000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102445,2022,2,190,21154207,1,MUÑOZ,APARCANA,FRANCISCO JAVIER,50,Facultad de Ciencia,4351,INGENIERÍA MATEMÁTICA -PLAN 2007- .,2022,1,83500.0,0.0
102446,2022,2,190,21154593,3,SALAS,MARTÍNEZ,CATALINA MARÍA,54,PROGRAMA DE BACHILLERATO,5031,BACHILLERATO EN CIENCIAS Y HUMANIDADES -PLAN ...,2021,1,83500.0,0.0
102447,2022,2,190,21154668,9,VELOSO,LABARCA,ANTONIA VALENTINA,95,Facultad de Química y Biología,4401,QUÍMICA Y FARMACIA .,2021,1,83500.0,0.0
102448,2022,2,190,21154782,0,ADASME,CABEZA,BRYAN ANDRÉS,60,Facultad de Administración y Economía,3511,INGENIERÍA COMERCIAL (D) .,2021,1,83500.0,0.0
102449,2022,2,190,21154873,8,BARRERA,GALLEGOS,ANTONIA BELÉN,40,Facultad de Ingeniería,1357,INGENIERÍA DE EJECUCIÓN EN MINAS .,2021,1,83500.0,0.0

In [19]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np



result = requests.get("https://mifuturo.cl/wp-content/uploads/2025/05/TITULADO_2024_web_19_05_2025_E.zip")
tit_2024 = pd.read_csv(BytesIO(result.content),compression='zip', 
                 header=0, sep=';', 
                 quotechar='"', 
                 encoding='latin-1')

tit_2024[tit_2024['CÓDIGO INSTITUCIÓN'] == 71].to_clipboard()

In [91]:
pd.read_sql("""SELECT 
            clave_ano,
            rut,
            numero_de_anos_en_la_institucion,
            jce,
            ano,
            sexo,
            jeraquia_categoria,
            tipo_jornada,
            cc_umayor_contrato,
            unidad_mayor_contrato,
            cc_umayor_desemp,
            unidad_desemp,
            total_horas
            FROM PAC_2008_2025
            WHERE ano = 2024""", con_1)

jce = pd.read_sql("""SELECT 
            ROUND(jce, 3) as jce
            FROM PAC_2008_2025
            WHERE ano = 2024""" , con_1)

#jce['jce'] = jce['jce'].astype(str)
jce['jce'] = jce['jce'].apply(lambda x: f"{x:.3f}")
jce.to_clipboard()

/tmp/ipykernel_30764/3271416811.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""SELECT
/tmp/ipykernel_30764/3271416811.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  jce = pd.read_sql("""SELECT

In [92]:
pd.read_sql("""SELECT
            ANHO_MU,
            NAC,
            NIV_GLO,
            COUNT(N_DOC) AS tot
            FROM TABLA_MU
            WHERE NAC<>38
            GROUP BY
            ANHO_MU,
            NAC,
            NIV_GLO""", con_1).to_clipboard()

#pd.read_sql("""SELECT
 #           ANHO_MU,
  #          NAC,
   #         FROM TABLA_MU
    #        WHERE AND NAC<>38""", con_1)

/tmp/ipykernel_70215/3395382374.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""SELECT

In [64]:
pd.read_sql(""" SELECT mm_nacionalidad
            FROM MU_PRE_POST_2012_2025""", con_1)

/tmp/ipykernel_30764/1473331428.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(""" SELECT mm_nacionalidad

        mm_nacionalidad
0                  38.0
1                  38.0
2                  38.0
3                  38.0
4                  38.0
...                 ...
335990              NaN
335991              NaN
335992              NaN
335993              NaN
335994              NaN

[335995 rows x 1 columns]

In [ ]:
pd.read_sql("""SELECT *
            FROM ADMINISTRATIVOS_2021_2024
            WHERE AÑO = 2024 AND MES = 'MAYO'""", con_1).to_clipboard()

/tmp/ipykernel_70215/4179825749.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""SELECT *
/tmp/ipykernel_70215/4179825749.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""SELECT *

,AÑO,SEM,RUN,CODIGO_PLAN,TIPO,AÑO_ING,SEM_ING,FOLIO,PORCENTAJE,UTM,MONTO,ESTADO
0,2011,1,16959483,1869,FSCU,0,0,0,0.0,0.00,0,
1,2011,1,16959652,3506,FSCU,0,0,0,0.0,0.00,0,
2,2011,1,16960035,4440,FSCU,0,0,0,0.0,0.00,0,
3,2011,1,16960095,1864,FSCU,0,0,0,0.0,0.00,0,
4,2011,1,16960960,1851,FSCU,0,0,0,0.0,0.00,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
122607,2021,1,22868216,3511,FSCU,2021,1,21115112,32.6,15.63,804593,F
122608,2021,1,24258356,3711,FSCU,2017,1,21111001,100.0,14.69,756460,F
122609,2021,2,24258356,3711,FSCU,2017,1,21211001,100.0,14.69,756460,F
122610,2021,1,25213422,3611,FSCU,2020,1,21115182,100.0,34.42,1772500,F
122611,2021,2,25213422,3611,FSCU,2020,1,21211000,100.0,34.42,1772500,F

In [ ]:
beneficios_pre_ext = pd.read_excel("/home/xenomorfo/Documentos/ANALISTA ESTUDIOS/PEDIDOS/2025.info Ranking/Beneficios Pregrado 2024.xlsx")
beneficios_pre_int = pd.read_excel("/home/xenomorfo/Documentos/ANALISTA ESTUDIOS/PEDIDOS/2025.info Ranking/Beneficios Pregrado 2024.xlsx", sheet_name='Internas Arancel-no Arancel')
beneficios_post = pd.read_excel("/home/xenomorfo/Documentos/ANALISTA ESTUDIOS/PEDIDOS/2025.info Ranking/Benficios Postgrado 2024.xlsx", sheet_name='2024')

0            3836
1            3836
2            3836
3            3973
4            3973
           ...
16133    28531918
16134    28549888
16135    28553266
16136    28556722
16137    28556731
Name: RUT, Length: 16138, dtype: int64

In [ ]:
beneficios_pre_int[['RUT', 'COD. BECA']].drop_duplicates()

(
beneficios_pre_int[beneficios_pre_int['SEM']==1]
.groupby(['RUT', 'COD. BECA', 'SEM'])
.size()
.reset_index(name='total')
)

(
beneficios_pre_int.groupby(['RUT','BECA','COD. CAR.'])['RUT']
.nunique()
#.unstack()
.reset_index(name='total')
.to_clipboard()
)

(
beneficios_post.groupby(['ID IDENTIFICACION',
                         'NOMBRE BENEFICIO',
                         'CODIGO CARRERA'])['ID IDENTIFICACION']
.nunique()
.reset_index(name='total')
.to_clipboard()
)
#beneficios_pre_int['SEM'].dtype

In [17]:
beneficios_pre[['AÑO','RUT', 'COD. CAR.', 'COD. BECA']]

        AÑO       RUT  COD. CAR.  COD. BECA
0      2024  12793123       3613        227
1      2024  12793123       3613        227
2      2024  13756506       4351        222
3      2024  14336320       4260        222
4      2024  14336320       4260        222
...     ...       ...        ...        ...
33145  2024  28131816       7048        146
33146  2024  28131816       7048        146
33147  2024  28194143       7049        146
33148  2024  28194143       7049        146
33149  2024  28303955       1443        146

[33150 rows x 4 columns]